.circle{
    width: 50px;
    background-color: blue;
    border-radius: 100%;
    margin: 0 10px;
    height: 50px;
}

.circle:nth-child(3){
    background-color: aqua;
}

.circle:nth-child(4){
    background-color: tomato;
}

.circle:nth-child(5){
    background-color: hotpink;
}
.circle:nth-child(6){
    background-color: gainsboro;
}

.split{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15% 0;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.animation_btn{
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    background-color: #1c1c1c;
    font-size: 1.5rem;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
}